<div class="align-item-center">
	<%= render "layouts/header2" %>
	<div class="card ml-2 mr-2 " style="width: 22rem; padding-top: 10rem;">
	  <%= image_tag "BG.jpeg" %>
	  <div class="card-body ">
	    <h2 class="card-title text-center"><%= product.name %></h2>
	    <h4 class="card-title"><%= number_to_currency(product.price) %> VNĐ</h4>
	    <h5 class="card-text"><%= product.details %></h5>
	    <div class="btn btn-primary">
	    <%= link_to "Chi tiết món ăn", product_path(product), class: 'automatic'%>
	    </div>
	  </div>
	</div>
</div>
